body {
  min-height: 101vh;
  margin: 64px 0 0;
  background-color: #FAFAFA;
  color: #383838;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  padding: 20px 40px;
  text-align: center;
  background-color: #222;
  color: #FFF;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
}

li {
  padding: 8px 0;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

.docs-button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 4px;
  padding: 8px 44px;
  border: 2px solid #000;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-appearance: none;
}

.docs-button:active {
  background-color: #000;
  color: #FFF;
}

section {
  padding: 60px 24px;
  text-align: center;
}

/* home page */
.hero {
  background-color: #ECEFF1;
  background-image: url(/images/hero.png);
  background-size: cover;
}

.devices {
  display: block;
  height: 460px;
  background-image: url(/images/devices.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.hero-buttons {
  padding-top: 16px;
}

.features {
  display: flex;
  justify-content: center;
  background-color: #222;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  padding: 0 16px;
  box-sizing: border-box;
  color: #FFF;
}

.feature > iron-icon {
  width: 76px;
  height: 76px;
}

.feature > p {
  /* IE11 flexbox bug: https://github.com/philipwalton/flexbugs#2-column-flex-items-set-to-align-itemscenter-overflow-their-container */
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
}

.main-item {
  display: flex;
  max-width: 700px;
  padding: 16px 0;
  text-align: left;
}

.main-item > img {
  width: auto;
  height: 100px;
  padding-right: 32px;
}

.main-item h2 {
  margin-top: 0;
}

.compatibility {
  background-color: #ECEFF1;
}

.browsers > img {
  width: 70px;
  height: 70px;
  padding: 20px;
}

/* docs page */
nav {
  /* position: sticky works in Chrome 56, Firefox and Safari; fallback to position: static for which the nav will just be part of the scrolling content. */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 240px;
  height: 300px;
  box-sizing: border-box;
  padding: 64px 16px 40px 40px;
}

nav a:hover {
  text-decoration: underline;
}

nav > ul {
  padding: 0 0 0 16px;
  border-left: 1px solid #222;
}

article {
  padding: 56px 40px 56px 240px;
  margin-top: -300px;
}

article > section {
  padding: 8px 0;
  text-align: left;
}

/* small screen */
@media (max-width: 767px) {
  header {
    padding: 8px 24px;
  }

  section {
    padding: 24px;
  }

  /* home page */
  .devices {
    height: 200px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-buttons > * {
    width: 240px;
    margin: 8px 0;
  }

  .features {
    display: block;
  }

  .feature {
    display: block;
    width: auto;
    padding: 16px 0;
  }

  .feature > iron-icon {
    width: 48px;
    height: 48px;
  }

  .feature > p {
    margin: 4px 0;
  }

  .main {
    display: block;
  }

  .main-item {
    display: block;
    padding: 16px 0;
    text-align: center;
  }

  .main-item > img {
    width: 48px;
    height: auto;
    padding: 0 0 4px 0;
  }

  .main-item h2 {
    margin: 0 0 10px;
  }

  .main-item p {
    margin: 4px 0;
  }

  .browsers > img {
    width: 40px;
    height: 40px;
    padding: 4px;
  }

  /* docs page */
  nav {
    position: static;
    width: auto;
    height: auto;
    padding: 16px 24px 0;
  }

  article {
    padding: 0 24px;
    margin-top: 0;
  }
}
